html {
    background-color: blue;
    color: rgb(187, 255, 0);
    font-size: 20px;
    width: 800px; 
    margin: 0 auto
  }
  h1{
     color: rgb(213, 235, 15)
  }
  img{
    width: 400px;
  }
  #thirdDiv{ 
    width: 500px;
    background-color: green; 
    padding: 50px;
    margin: 0 auto
  }
  #spanId{
    font-size: 18px;
    margin: 50px;
  }
  .divClass{
    border: 1px solid rgb(231, 8, 8);
    width: 600px; 
    margin-left: 11.6%;
    margin: 10 auto;
    background: green;
  }